﻿@model Event.Library.Models.BreadcrumbViewModel

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-sm-6">
                <span class="m-0 text-dark h5 align-middle">@Html.Raw(Model.PageTitle)</span>
                <span><a href="javascript:history.back()" class="btn btn-primary btn-sm ml-1"><i class="fa fa-arrow-circle-left"></i>  Back</a> </span>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">

                    <li class="breadcrumb-item"><a href="@Model.HomePageUrl">@Model.HomePageTitle</a></li>
                    @if (!string.IsNullOrEmpty(Model.ChildPage))
                    {
                        <li class="breadcrumb-item active">
                            @if (!string.IsNullOrEmpty(Model.ChildPageUrl))
                            {
                                <a href="@Model.ChildPageUrl">@Model.ChildPage</a>
                            }
                            else
                            {
                                @Model.ChildPage
                            }
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(@Model.CurrentPage))
                    {
                        <li class="breadcrumb-item active">@Model.CurrentPage</li>
                    }
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->