﻿<!DOCTYPE html>
<html lang="en">
<head>

    @{
        var PortalUrl = Event.Library.Configurations.EventConfigurationManager.PortalUrl;
    }
    <script>
        var baseUrl = '@PortalUrl';
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Event </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!---- Custom CSS ----->
    @Styles.Render("~/Content/css")
</head>
<body class="hold-transition sidebar-mini">

    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-danger">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <li id="spinner" class="mt-2">
                    <div class="ajax-loader "></div>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">@User.Identity.Name</a>

                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu dropdown-menu-right border-0 shadow">
                        <li><a href="#" class="dropdown-item">My Profile </a></li>
                        <li><a href="#" class="dropdown-item">My Settings</a></li>
                        <li class="dropdown-divider"></li>
                        <!-- Logout-->
                        <li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()

                                <ul class="nav navbar-nav navbar-right">
                                    <li>
                                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                                            <i class="icon-logout"></i>
                                            <span class="">Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            }
                        </li>
                        <!-- End Level two -->
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        @Html.Partial("_LeftNavigation")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-none d-sm-inline">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2020 - @DateTime.Now.Year </strong> All rights reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/masteradmin")
    @RenderSection("Scripts", required: false)

    <div id="common-modal-pop-up" class="modal" role="dialog">
    </div>
</body>
</html>

