﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Master Admin | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!---- Custom CSS ----->
    @Styles.Render("~/Content/css")

</head>
<body class="hold-transition login-page bg-image">
    <div class="login-box">
        <div class="login-logo">
            <a href="#">@ViewBag.Title</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            @RenderBody()
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/masteradmin")

    @RenderSection("Scripts", required: false)
    @*<script>
            $(document).ready(function () {
                MainViewModel.setAdminTimeZoneOffset();})
        </script>*@
</body>
</html>
