﻿@using Event.Library.Utilities

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-danger elevation-4 ">
    <!-- Brand Logo -->
    <a href="@Url.Action("Index", "Home")" class="brand-link">
        <img src="~/Content/images/logo.png" alt="Coupon Factory Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Master Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        @*<div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/dist/img/user2-160x160.jpg" alt="User Image" class="brand-image img-circle elevation-3" style="opacity: .8">
                </div>
                <div class="info">
                    <a href="#" class="d-block">User</a>
                </div>
            </div>*@
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @*<li class="nav-item">
                    <a class="nav-link  @Html.RouteActionIf("Home", "index", "active") " href="@Url.Action("Index", "Home")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>*@

                <li class="nav-item">
                    <a class="nav-link  @Html.RouteActionIf("AdminRunner", "index", "active") " href="@Url.Action("Index", "AdminRunner")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Runners</p>
                    </a>
                </li>
                <!--  These Views view will be visible to Admin User  -->
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
