﻿@model Event.Core.Models.RunnerModel
@{
    ViewBag.Title = "Runner Registration ";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("Register", "Runner", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    @Html.HiddenFor(x => x.IsAddedByAdmin, new { Value = 0 })
    <div class="card-body">
        <div class="form-group">
            <label for="Name">Name</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="Address">Address</label>
            @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="HostingCity">Hosting City</label>
            @Html.TextBoxFor(x => x.HostingCity, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.HostingCity, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="Route">Route</label>
            @*@Html.DropDownListFor(x => x.Route, new SelectList(Model.LstRoutes, "Value", "Text", Model.Route), "Select Route", new
                {
                    @class = "form-control",
                    //data_select_parent = "true",
                    //data_child_data_url = "regionmaster/getregionstatesbycountryid?countryId=",
                    //data_select_parent_id = "CountryId",
                    //data_child_selector = "StateId"
                })*@
            @Html.EnumDropDownListFor(x => x.Route, "Select Route", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Route, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="Charity">Charity</label>
            @Html.TextBoxFor(x => x.Charity, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Charity, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="CharityFund">Charity Fund</label>
            @Html.TextBoxFor(x => x.CharityFund, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CharityFund, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label for="Category">Category</label>
            @Html.EnumDropDownListFor(x => x.Category, "Select Category", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger" })
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-block">Register</button>

        <p class="my-2">
            <a href="@Url.Action("Login", "Account")">Login if you have access</a>
        </p>
    </div>
}