﻿@model  Event.Core.Models.RunnerModel
@using Microsoft.AspNet.Identity;
@{
    string currentUser = User.Identity.GetUserId();
    var title = "Add/Edit Runner";
    Layout = null;

}
<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title">@title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form method="post"
              id="frmAddNewRunner"
              data-clear-form="false"
              data-post-type='ajax'
              action="/adminrunner/addrunner"
              data-success-method="AdminRunnerViewModel.updateRunnerSuccess">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.IsAddedByAdmin, new { Value = 1 })
            <div class="card-body">
                <div class="form-group">
                    <label for="Name">Name</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="Address">Address</label>
                    @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="HostingCity">Hosting City</label>
                    @Html.TextBoxFor(x => x.HostingCity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.HostingCity, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="Route">Route</label>
                    @Html.EnumDropDownListFor(x => x.Route, "Select Route", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Route, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="Charity">Charity</label>
                    @Html.TextBoxFor(x => x.Charity, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Charity, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="CharityFund">Charity Fund</label>
                    @Html.TextBoxFor(x => x.CharityFund, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CharityFund, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="Category">Category</label>
                    @Html.EnumDropDownListFor(x => x.Category, "Select Category", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger" })
                </div>
            </div>
            <!-- /.card-body -->

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Add Runner</button>
            </div>
        </form>

    </div>
</div>
<script>
    preventFormSubmitOnEnterPress();
    InitCustomDropdown();
</script>

