﻿@using Event.Library.Models;
@{
    ViewBag.Title = "Runners";

    BreadcrumbViewModel breadCrumb = new BreadcrumbViewModel()
    {
        PageTitle = "<i class='fa fa-users mr-1'></i>Manage Runner",
        HomePageUrl = @Url.Action("Index", "Home"),
        HomePageTitle = "Runners",
        ChildPage = "Runners List"
    };
}
@Html.Partial("_Breadcrumb", breadCrumb)


<!-- #region body -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <!-- MAIN CONTENT -->
        <div class="page-layout simple full-width">
            <!-- CONTENT -->
            <div class="page-content p-6">
                <!-- WIDGET GROUP -->
                <div class="widget-group row">
                    <div class="col-12">
                        <div class="card">
                            <!-- card-header -->
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <span class="h5 border-right-1 pr-2"><i class="icon-truck-fast"></i> Brands </span>
                                    </div>
                                    <div class="col col text-right">
                                        <button class="btn btn-primary" onclick="AdminRunnerViewModel.openRunnerModal(0)"><i class="fa fa-plus mr-1"></i>New Runner</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <!-- card-body -->
                            <div class="card-body">
                                <table id="tblAdminRunner" class="table table-responsive dataTable table-striped">
                                    <thead>
                                        <tr>
                                            <th data-class="expand">
                                                <div class="table-header">
                                                    <span class="column-title">Name</span>
                                                </div>
                                            </th>
                                            <th data-hide="phone">
                                                <div class="table-header">
                                                    <span class="column-title">Address</span>
                                                </div>
                                            </th>
                                            <th data-hide="phone">
                                                <div class="table-header">
                                                    <span class="column-title">Hosting City</span>
                                                </div>
                                            </th>
                                            <th data-hide="phone">
                                                <div class="table-header">
                                                    <span class="column-title">Route</span>
                                                </div>
                                            </th>
                                            <th data-hide="phone">
                                                <div class="table-header">
                                                    <span class="column-title">Charity</span>
                                                </div>
                                            </th>
                                            <th data-hide="phone">
                                                <div class="table-header">
                                                    <span class="column-title">Charity Fund</span>
                                                </div>
                                            </th>
                                            <th data-hide="phone">
                                                <div class="table-header">
                                                    <span class="column-title">Category</span>
                                                </div>
                                            </th>
                                            <th width="30px">
                                                <div class="table-header">
                                                    <span class="column-title">Action</span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
                <!-- / WIDGET GROUP -->
            </div>
            <!-- / CONTENT -->
        </div>
        <!--END MAIN CONTENT-->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content -->
<!-- #endregion -->
<!-- #region scripts -->
@section Scripts
    {
    <script src="~/Scripts/AdminRunner/AdminRunnerViewModel.js" asp-append-version="true"></script>
    <script>
        AdminRunnerViewModel.runnerListView();
    </script>
}
<!-- #endregion -->
