﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*  date picker padding*/
.datepicker-orient-bottom {
    padding-left: 10px !important;
    padding-right: 10px !important;
    z-index: 9999 !important;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.main-sidebar {
    padding-top: 0px;
    width: 250px;
}
/* Provide sufficient contrast against white background */
a {
    color: #5db8b8;
    cursor: pointer;
}

.navbar-danger {
    background-color: #ee4830 !important;
}

/*.main-sidebar navbar-danger {
    background-color: #ee4830 !important;
}*/
.sidebar a {
    color: #fff !important;
}

.btn-primary, .navbar-info, .page-item.active .page-link {
    color: #fff;
    background-color: #5db8b8 !important;
    border-color: #91ebeb !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #5db8b8 !important;
    border-color: #1861ac;
}

.dropdown-menu {
    left: -5rem;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.bg-image {
    background: url('../images/login-background.png');
    /*background-size: contain;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 100%;*/
}

.field-validation-error {
    color: red;
}

.table-responsive {
    display: inline-table !important;
    width: 100% !important;
}

/*.dropdown-menu {
    left: -5rem !important;
}*/

.nav-link {
    padding: .5rem !important;
}
/* jQuery datatable responsive*/
table.has-columns-hidden > tbody > tr > td > span.responsiveExpander {
    background: url(../images/plus.png) no-repeat 5px center;
    padding-left: 32px;
    cursor: pointer;
}

table.has-columns-hidden > tbody > tr.detail-show > td span.responsiveExpander {
    background: url(../images/minus.png) no-repeat 5px center;
}

table.has-columns-hidden > tbody > tr.row-detail > td > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

span.columnTitle {
    font-weight: 600;
}

li.col-sm-3.animated-panel.zoomIn.center {
    margin-bottom: 5px;
    /*border-bottom: 1px solid lightblue;*/
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}
/* jQuery datatable responsive*/


/******************************* Spinner *********************************/
.ajax-loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #458797;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* separator */
.separator {
    position: relative;
    text-align: center;
}

    .separator label {
        background-color: #fff;
        padding: 0 0.4em;
        position: relative;
    }

    .separator:before {
        content: '';
        border-style: solid;
        border-width: 0 0 1px 0;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        border-color: black;
    }

/* chat image size */
.direct-chat-msg img {
    height: 100px;
}

.bg-light-primary {
    background-color: #dfedfa;
}

.bg-chat {
    background-color: #5db8b8 !important;
}

.chat-title {
    background-color: #d7fbff !important;
}

/* custom tab on product detail page  */
#custom-tabs-one-home-tab {
    border: 1px solid !important;
    border-radius: 1px !important;
    background-color: #5db8b8;
    margin-left: 3px !important;
    color: white !important;
}

#product-Detail-tab .ui-state-active {
    background: red !important;
}

/* apply cutom css to images inside the table  */
#tblConversation img {
    width: 70px !important;
}

/* apply cutom css to images inside the table */

.select2 {
    width: 100% !important;
}

.select2-container {
    width: 100% !important;
}

/* use for set image widht inside all table */
table > tbody > tr > td > img {
    width: 20px !important;
}

/* use for dropzone */
.dropzone {
    color: #5db8b8 !important;
    border: dashed !important;
}

    .dropzone .dz-message {
        margin: 1em 0 !important;
    }

.dropzoneQualityAssurance {
    padding: 33px 20px !important;
}

/* or Separator css*/
.orSeparator {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

    .orSeparator:after,
    .orSeparator:before {
        content: "";
        display: block;
        background: grey;
        width: 100%;
        height: 1px;
    }

/* Latest Conversations card on employee css*/
.latestConversations {
    height: 552px !important;
    overflow: scroll !important;
}

/* Latest Conversations On Conversation Details css*/
.latestConversationsOnConversationDetails {
    height: 563px !important;
    overflow: scroll !important;
}

/* */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: #343a40 !important;
    border-bottom: 2px solid green !important;
}
/* use set custom hight of shipping And Delivery block in employee dashboard*/
.shippingAndDeliveryList{
    height: 72px !important;
}
/* use set custom hight of Team Bulletin Board block in employee dashboard*/
.teamBulletinBoard {
    min-height: 340px !important;
}

/* use set custom hight of Inners section employee dashboard */
.productionInner {
    padding-bottom: 35px !important;
}
.shippingAnDdeliveryInner {
    padding-bottom: 37px !important;
}
.calendarAndTasks {
    padding-bottom: 60px !important;
}
/*  custom hight of Inners section employee dashboard */

