﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


    <div class="card-body login-card-body">
        <p class="login-box-msg">@ViewBag.Title. <b> Please check your email to reset your password.</b></p>       
    </div>



