﻿@model Event.UI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";  
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


    <div class="card-body login-card-body">

        <p class="login-box-msg">@ViewBag.Title <b> Enter your email.</b></p>

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <fieldset class="form-group position-relative has-icon-left">
                <label asp-for="Email">Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <div class="form-control-position">
                    <i class="ft-user"></i>
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </fieldset>


            <input type="submit" class="btn btn-primary btn-block" value="Email Link" />
        }

        <p class="my-2">
            <a href="@Url.Action("Login", "Account")">Already have a account?</a>
        </p>
    </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
