﻿@using Event.UI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<!-- .login-card-body -->
<div class="card-body login-card-body">
    <p class="login-box-msg">Sign in to start your session</p>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        <fieldset class="form-group position-relative has-icon-left">
            <label asp-for="Email">Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <div class="form-control-position">
                <i class="ft-user"></i>
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </fieldset>

        <fieldset class="form-group position-relative has-icon-left">
            <label asp-for="Password">Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <div class="form-control-position">
                <i class="la la-key"></i>
            </div>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </fieldset>
        @*<div class="form-group row">
                <div class="col-md-6 col-12 text-center text-sm-left">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember" asp-for="RememberMe">
                        <label for="remember">
                            Remember Me
                        </label>
                    </div>
                </div>
            </div>*@
        <button type="submit" class="btn btn-primary btn-block">Login</button>
    }
    <p class="my-2">
        <a href="@Url.Action("Index", "Runner")">Register a new runner</a>
    </p>
    @*<p class="mb-0">
            <a asp-controller="Account" asp-action="Register" class="text-center">Register a new membership</a>
        </p>*@
</div>
<!-- /.login-card-body -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}