﻿@model Event.UI.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- .register-card-body -->
<div class="card-body login-card-body">
    <p class="login-box-msg">Create a new account.</p>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()
        <fieldset class="form-group position-relative has-icon-left">
            <label asp-for="Email">Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            <div class="form-control-position">
                <i class="ft-user"></i>
            </div>
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </fieldset>

        <fieldset class="form-group position-relative has-icon-left">
            <label asp-for="Password">Password</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <div class="form-control-position">
                <i class="la la-key"></i>
            </div>
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </fieldset>

        <fieldset class="form-group position-relative has-icon-left">
            <label asp-for="Password">Confirm Password</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            <div class="form-control-position">
                <i class="la la-key"></i>
            </div>
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </fieldset>

        <button type="submit" class="btn btn-primary btn-block">Register</button>
    }
    @*<p class="my-2">
        <a href="@Url.Action("ForgotPassword", "Account")">I forgot my password</a>
    </p>*@
    @*<p class="mb-0">
            <a asp-controller="Account" asp-action="Register" class="text-center">Register a new membership</a>
        </p>*@
</div>
<!-- /.register-card-body -->







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
