﻿@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="card-body login-card-body">
    <p class="login-box-msg">@ViewBag.Title. <b> Your password has been reset. </b></p>
    <p  class="login-box-msg">Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
</div>




