﻿@model Event.UI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";

    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- .reset-password-card-body -->
    <div class="card-body login-card-body">
        <p class="login-box-msg">Fill the form below to reset the password</p>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Code)
            <fieldset class="form-group position-relative has-icon-left">
                <label asp-for="Email">Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                <div class="form-control-position">
                    <i class="ft-user"></i>
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </fieldset>

            <fieldset class="form-group position-relative has-icon-left">
                <label asp-for="Password">New Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                <div class="form-control-position">
                    <i class="la la-key"></i>
                </div>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </fieldset>

            <fieldset class="form-group position-relative has-icon-left">
                <label asp-for="Password">Confirm Password</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                <div class="form-control-position">
                    <i class="la la-key"></i>
                </div>
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </fieldset>

            <button type="submit" class="btn btn-primary btn-block">Reset</button>
        }
    </div>
<!-- /.reset-password-card-body -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
